*{
    margin:0;
    padding:0;
    box-sizing:border-box;

}
body{
    height:100%;
    width:100%;
}
.container{
    height:100%;
    width:100%;
    padding:10px;
    display:grid;
    gap:1rem;
    background-color:rgb(112, 117, 118);
    grid-template-columns:repeat(auto-fit,minmax(100px,200px));
   justify-content:center;
   
}
.item {
    height:200px;
    width:200px;
    border:solid 2px red;
    background-color:rgb(69, 87, 87);
}